
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

 #Backend
/backend/target/
/backend/.mvn
/backend/mvnw
/backend/mvnw.cmd
/backend/HELP.md

 #Frontend
 frontend/node_modules
 frontend/dist
 frontend/dist-ssr
 frontend/*.local
/frontend/node_modules/
.vscode/launch.json
EatYouFit.code-workspace
